<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Login Form</h3>
    <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    <form action="" method="post">
        {% csrf_token %}
    <input type="text" placeholder="username" name="num1"/>
    <br>
    <input type="password" placeholder="password" name="num2"/>
    <br>
    <input type="submit" value="Submit" name="num4"/>
</form>
</body>
</html>